.App {
  text-align: center;
  margin-top: 2rem;
}

form {
  margin-bottom: 1rem;
}

input {
  margin-left: 0.5rem;
}

button {
  margin-left: 0.5rem;
}


.binary-tree {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-gap: 7px;
  justify-items: center;
}

.tree-node {
  display: grid;
  grid-template-rows: auto 1px auto;
  align-items: center;
  justify-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}

.tree-node.highlighted {
  background-color: #ffcc00;
}

